youthapp_api.egg-info
__pycache__
.env
.DS_Store
*.log
*.properties
!sonar-project.properties
*.csv
*.report

############################
#Eclipse Specific GitIgnore#
############################
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# CDT-specific
.cproject
