{
    "api": {
        "baseUrl": "http://localhost:8011",
        "apiSuffix": ""
    },
    "oidc": {
        "baseUrl": "https://idp-dev.inuits.io/auth/realms/",
        "tokenEndpoint": "protocol/openid-connect/token",
        "authEndpoint": "protocol/openid-connect/auth",
        "logoutEndpoint": "protocol/openid-connect/logout",
        "clientId": "wwdb-frontend"
    },
    "sentry": {
        "dsn": false
    },
    "feature": {
        "parameterComponent": true,
        "trailer": true
    }
}
